@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

$primary-color: hsl(243, 87%, 12%);
$secondary-color: hsl(238, 22%, 44%);
$headings-font: 'Raleway', sans-serif;
